
@model Product 

@{
    ViewData["Title"] = "Edit a Review";
}

<h2>Edit a Product</h2>

<div class="container">
    <form asp-action="Edit" method="post" class="container form-horizontal">
        <!--line 21 allows for all ErrorMessages from the model to be listed together-->
        <div asp-validation-summary="All"></div>

        <div class="row">
            <label asp-for="@Model.NameOfProduct" class="control-label col-sm-3">Name Of Product</label>
            <input asp-for="@Model.NameOfProduct" type="text" class="form-control col-sm-6">
        </div>
        <br />
        <div class="row">
            <label asp-for="@Model.Rating" class="control-label col-sm-3">Rating</label>
            <input asp-for="@Model.Rating" type="number" class="form-control col-sm-6">
        </div>
        <br />
        <div class="row">
            <label asp-for="@Model.Review" class="control-label col-sm-3">Review</label>
            <textarea asp-for="@Model.Review" type="text" class="form-control col-sm-6" rows="3"></textarea>
        </div>
        <br />
        <div class="row">
            <!--Company is not passed to review in the database-->
            <label asp-for="@Model.Company.NameOfCompany" class="control-label col-sm-3">Company name</label>
            <input asp-for="@Model.Company.NameOfCompany" type="text" class="form-control col-sm-6">
        </div>
        <br />
        <div class="row">
            <label asp-for="@Model.Company.ContactInfo" class="control-label col-sm-3">Company contact info</label>
            <input asp-for="@Model.Company.ContactInfo" type="text" class="form-control col-sm-6">
        </div>
        <br />
        <!--hidden input because you don't want the user to change the primary key-->
        <input type="hidden" asp-for="ProductId" />

        <button type="submit" class="btn btn-outline-primary p-3">Submit</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>